In [21]:
#-----------------Merge Dataframes------------
import pandas as pd 
from google.colab import drive 
drive.mount('/content/drive')
df1 = pd.DataFrame({"city": ["new york","chicago","orlando"], "temperature": [21,14,35],})
df1


df2 = pd.DataFrame({ "city": ["chicago","new york","orlando"], "humidity": [65,68,75], })
df2

df3 = pd.merge(df1, df2, on="city") 
df3

df1 = pd.DataFrame({"city": ["new york","chicago","orlando", "baltimore"], "temperature": [21,14,35, 38],})
df1

df2 = pd.DataFrame({"city": ["chicago","new york","san diego"], "humidity": [65,68,71],})
df2

df3=pd.merge(df1,df2,on="city",how="inner") 
df3

df3=pd.merge(df1,df2,on="city",how="outer") 
df3

df3=pd.merge(df1,df2,on="city",how="left") 
df3


df3=pd.merge(df1,df2,on="city",how="right") 
df3

df3=pd.merge(df1,df2,on="city",how="outer",indicator=True)

df3

df1 = pd.DataFrame({
"city": ["new york","chicago","orlando", "baltimore"], "temperature": [21,14,35,38],
"humidity": [65,68,71, 75]
})
df1


df2 = pd.DataFrame({ "city": ["chicago","new york","san diego"], "temperature": [21,14,35], "humidity": [65,68,71] })
df2

df3= pd.merge(df1,df2,on="city",how="outer", suffixes=('_first','_second')) 
df3


df1 = pd.DataFrame({ "city": ["new york","chicago","orlando"], "temperature": [21,14,35], })
df1.set_index('city',inplace=True) 
df1

df2 = pd.DataFrame({
"city": ["chicago","new york","orlando"], "humidity": [65,68,75],
})
df2.set_index('city',inplace=True) 
df2


df1.join(df2,lsuffix='_l', rsuffix='_r')


#------------------Pivot-redefine col and row -------------
import pandas as pd 
import numpy as np
%cd drive/My Drive/Colab Notebooks

df = pd.read_csv("weather.csv") 
df

df.pivot(index='city',columns='date') 
df.pivot(index='city',columns='date',values="humidity") 
df.pivot(index='date',columns='city') 
df.pivot(index='humidity',columns='city')

df = pd.read_csv("weather2.csv") 
df 
df.pivot_table(index="city",columns="date")
df.pivot_table(index="city",columns="date", margins=True,aggfunc=np.sum) # margins = True: get ave. value shown in all

df = pd.read_csv("weather3.csv") 
df

df['date'] = pd.to_datetime(df['date']) 
df.pivot_table(index=pd.Grouper(freq='M',key='date'),columns='city')

#----------------------Reshape dataframe using melt------------------
import pandas as pd
df = pd.read_csv("weather4.csv") 
df

melted = pd.melt(df, id_vars=["day"], var_name='city', value_name='temperature')
melted

#------------------Stack Unstack-------------------

import pandas as pd
df = pd.read_excel("stocks.xlsx",header=[0,1]) 
df

df.stack() 
df.stack(level=0)
df_stacked=df.stack() 
df_stacked

df_stacked.unstack()

df2 = pd.read_excel("stocks_3_levels.xlsx",header=[0,1,2]) 
df2

df2.stack()

df2.stack(level=0) 
df2.stack(level=1)

#--------------------Crosstab-------------

import pandas as pd
df = pd.read_excel("survey.xls") 
df

pd.crosstab(df.Nationality,df.Handedness)

pd.crosstab(df.Sex,df.Handedness)

pd.crosstab(df.Sex,df.Handedness, margins=True)

pd.crosstab(df.Sex, [df.Handedness,df.Nationality], margins=True) # marigins: get summation

pd.crosstab([df.Nationality, df.Sex], [df.Handedness], margins=True)

pd.crosstab(df.Sex, df.Handedness, normalize='index')

import numpy as np 
pd.crosstab(df.Sex, df.Handedness, values=df.Age, aggfunc=np.average)

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).
[Errno 2] No such file or directory: 'drive/My Drive/Colab Notebooks'
/content/drive/My Drive/Colab Notebooks

Handedness  Left  Right
Sex
Female      44.5   31.0
Male        31.2   28.0